<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Karyotype platform</title>
  <link href="../static/static_2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/static_2/css/modern-business.css" rel="stylesheet">

  <link rel="prerender" href="http://www.cgrpoee.top/Nyssaceae/colinearity.html">
</head>


<body>
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="http://www.cgrpoee.top/Nyssaceae/karyotype.html">Karyotype platform</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <li class="nav-item navbar-brand">
        <div class="dropdown">
          <button  class="nav-link"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: unset; border: unset; color: white;" >TOOLS
          </button>
          <div class="dropdown-menu multi-level" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="http://www.cgrpoee.top/Nyssaceae/blast.html">Blast best match</a>
              <a class="dropdown-item" href="http://www.cgrpoee.top/Nyssaceae/colinearity.html">colinearity</a>
          </div>
        </div>
      </li>

    </div>
  </nav>

    <div class="container">
        <div class="starter-template"  style="text-align: center; margin: 75px 0">
            <h1>Complete data processing!</h1>
            <h3>If you have any questions, please feedback to us, and hope you can quote our articles </h3>
            <p class="lead"></p>
        </div>
    </div>

  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-4" >
          <div class="widget">
            <h5 class="widgetheading" style="color: #fff;">Our Contact</h5>
            <address style="color: #fff;">
                School of Life Sciences / Center for Genomics and Computational Biology, North China University of Science and Technology,
            </address>
            <p style="color: #fff;">
              <i class="icon-envelope-alt" style="color: #fff;"></i> Address info 21 Bohai Road,Caofeidian, Tangshan 063210, Hebei, China
            </p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="widget">
            <h5 class="widgetheading" style="color: #fff;">Quick Links</h5>
            <ul class="link-list">
              <li><a href="https://www.ncbi.nlm.nih.gov/" target="_blank" style="color: #fff;">National Center for Biotechnology Information</a></li>
              <li><a href="http://pfam.xfam.org/" target="_blank" style="color: #fff;">Protein families database</a></li>
              <li><a href="https://swissmodel.expasy.org/" style="color: #fff;">SWISS-MODEL</a></li>
              <li><a href="https://www.embl.org/" target="_blank" style="color: #fff;">EuropeanMolecular Biology Laboratory</a></li>
              <li><a href="https://www.ddbj.nig.ac.jp/index-e.html" target="_blank" style="color: #fff;">DNA Data Bank of Japan</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=561cj3aw7q6&amp;m=1&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" async="async"></script>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <link rel="prerender" href="http://www.cgrpoee.top/Nyssaceae/colinearity.html">
  <script src="../static/static_2/vendor/jquery/jquery.min.js"></script>
  <script src="../static/static_2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
