{% extends 'gfca_index.html' %}


{% block section %}
    <section id="inner-headline" xmlns="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="pageTitle">GFCA - CODONW</h2>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-4  col-rg-4 ">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Analysis of gene structure</span>
                </h4>

                <ul class="list-group mb-3">
                    <a href="{% url 'pfam_url' %}">
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div class="text-success">
                                    <h6 class="my-0">Pfam</h6>
                                <small>Sequence alignment</small>
                            </div>
                        </li>
                    </a>

                    <a href="{% url 'meme_suit_url' %}">
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div class="text-success">
                                    <h6 class="my-0">Meme_Suit</h6>
                                <small >Sequence alignment</small>
                            </div>
                        </li>
                    </a>

                    <a href="{% url 'codonw_url' %}">
                        <li class="list-group-item d-flex justify-content-between lh-sm bg-light">
                            <div class="text-success">
                                    <h6 class="my-0">Codonw</h6>
                                <small>Extraction sequence</small>
                            </div>
                        </li>
                    </a>

                    <a href="{% url 'cpgfinder_url' %}">
                        <li class="list-group-item d-flex justify-content-between">
                            <div class="text-success">
                                <h6 class="my-0">Cpgfinder</h6>
                                <small>Sequence alignment</small>
                            </div>
                        </li>
                    </a>

                    <a href="{% url 'gsds_url' %}">
                        <li class="list-group-item d-flex justify-content-between">
                            <div class="text-success">
                                <h6 class="my-0">GSDS</h6>
                                <small>Sequence alignment</small>
                            </div>
                        </li>
                    </a>

                    <a href="{% url 'sequenceserver_url' %}">
                        <li class="list-group-item d-flex justify-content-between">
                            <div class="text-success">
                                <h6 class="my-0">Sequenceserver</h6>
                                <small>Sequence alignment</small>
                            </div>
                        </li>
                    </a>

                    <a href="{% url 'dupgen_finder_url' %}">
                        <li class="list-group-item d-flex justify-content-between">
                            <div class="text-success">
                                <h6 class="my-0">Dupgen_finder</h6>
                                <small>Sequence alignment</small>
                            </div>
                        </li>
                    </a>

                </ul>
            </div>

            <div class="col-md-8  order-md-last">
                <h4 class="mb-3">CODONW</h4>

                <form action="codonw_run" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-sm-12">
                            <label for="formFile" class="form-label">Upload the sequence file </label>
                            <input class="form-control" type="file" id="formFile" name="file" required>
                            <div class="invalid-feedback">
                                File not uploaded
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="email" class="form-label">Email <span class="text-muted"></span></label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>
                            <div class="invalid-feedback">
                                Please enter a valid email address.
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">
                    <input class="w-100 btn btn-primary btn-lg" type="submit" value="submit">
                </form>

            </div>
        </div>
    </div>

{% endblock %}