{% extends 'gfca_index.html' %}


{% block section %}
    <section id="inner-headline" xmlns="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="pageTitle">GFCA - Sequenceserver</h2>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block container %}
    <div class="container">
        <div class="row">

            <div class="col-md-12 order-md-last">
                <iframe src="http://47.92.161.27:4567/" class="col-md-12  order-md-last" style="height: 700px">

                </iframe>
            </div>
        </div>
    </div>

{% endblock %}